{% extends "base.html" %}
{% block content %}
{% load static %}
<!-- Start All Title Box -->
    <div class="all-title-box" style='background: url("https://miro.medium.com/max/3000/1*H0SEqBfN00Zjkz_jkn3g_g.png") no-repeat center center;'>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 style='font-size: 80px;'>Have you had lunch?</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->
    <div class="shop-box-inner">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
                    <div class="right-product-box">
                        <div class="product-item-filter row">
                            <div class="col-12 col-sm-8 text-center text-sm-left">
                            <a href='{% url "feedback" ven_id=res.vendor.user.id %}' class='btn btn-primary'>Feedback</a>
                            {% comment %} <a href='{% url "order" %}' class='btn btn-primary'>ดูรายการ Order ทั้งหมด</a> <!-- ใส่เช็คว่าเป็นเฉพาะเจ้าของร้าน --> {% endcomment %}
                            </div>
                        </div>

                        <div class="product-categorie-box">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                    <div class="row">
                                        {% comment %} ใส่ code ใหม่ตรงนี้ {% endcomment %}
                                        {% for menu in menu_list %}
                                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                <div class="products-single fix">
                                                    <div class="box-img-hover">
                                                        <h1>{{ menu.name }}</h1>
                                                        <img src='{{ menu.picture.url }}' class="img-fluid">
                                                        <h2>{{ menu.price }}</h2>
                                                        <h2>{{ menu.description }}</h2>
                                                    </div>
                                                    <a href='' class='btn btn-primary'>สั่งอาหาร</a>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				<div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
                    <div class="product-categori">
                        <div class="search-product">
                            <form method="GET" action="{% url 'homepage' %}">
                                <input class="form-control" placeholder="Search here..." type="text" id="search" name="search" value={{search}}>
                                <button type="submit" class="btn btn-primary ml-3"><i class="fa fa-search"></i>Submit</button>
                            </form>
                        </div>
                        <div class="filter-sidebar-left">
                            <div class="title-left">
                                <h3>Categories</h3>
                            </div>
                            <div class="list-group list-group-collapse list-group-sm list-group-tree" id="list-group-men" data-children=".sub-men">

                                <div class="list-group-collapse sub-men">
                                    <a class="list-group-item list-group-item-action" href="#sub-men1" data-toggle="collapse" aria-expanded="true" aria-controls="sub-men1">อาหารประเภทข้าว<small class="text-muted">(100)</small></a>
                                    <div class="collapse show" id="sub-men1" data-parent="#list-group-men">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item list-group-item-action active">ป้าเล็กร้านสามไอที<small class="text-muted">(50)</small></a>
                                            <a href="#" class="list-group-item list-group-item-action">ร้านน้องพลอย<small class="text-muted">(10)</small></a>
                                            <a href="#" class="list-group-item list-group-item-action">ร้านพี่ช้าง-สมเกียรติ<small class="text-muted">(10)</small></a>
                                            <a href="#" class="list-group-item list-group-item-action">ร้านป้านกเล็ก<small class="text-muted">(10)</small></a>
                                            <a href="#" class="list-group-item list-group-item-action">ร้านวิลัย<small class="text-muted">(10)</small></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="list-group-collapse sub-men">
                                    <a class="list-group-item list-group-item-action" href="#sub-men2" data-toggle="collapse" aria-expanded="false" aria-controls="sub-men2">อาหารประเภทเส้น<small class="text-muted">(50)</small></a>
                                    <div class="collapse" id="sub-men2" data-parent="#list-group-men">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item list-group-item-action">ร้านก๋วยเตี๋ยวหมูน้ำตกต้มยำ<small class="text-muted">(10)</small></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="list-group-collapse sub-men">
                                    <a class="list-group-item list-group-item-action" href="#sub-men3" data-toggle="collapse" aria-expanded="false" aria-controls="sub-men3">อาหารทานเล่นเเละเครื่องดื่ม<small class="text-muted">(50)</small></a>
                                    <div class="collapse" id="sub-men3" data-parent="#list-group-men">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item list-group-item-action">ร้านDD coffee<small class="text-muted">(10)</small></a>
                                            <a href="#" class="list-group-item list-group-item-action">ร้านBrown bear cafe<small class="text-muted">(10)</small></a>
                                            <a href="#" class="list-group-item list-group-item-action">ร้านจิบกาแฟสด<small class="text-muted">(10)</small></a>
                                            <a href="#" class="list-group-item list-group-item-action">ร้านวรัญญาซาลาเปา<small class="text-muted">(10)</small></a>
                                            <a href="#" class="list-group-item list-group-item-action">ร้านพี่ฝนกาแฟสด&ผลไม้ปั่น<small class="text-muted">(10)</small></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}